/* h1 {
    color: green;
} */

.pink_border_one {
    border: 17px solid pink;
    margin-top: 25px;
    width: 340px;
    margin-left: 40px;
}

.pink_border_two {
    border: 17px solid pink;
    // width: 340px;
    margin-right: 200px;
}

.breef {
    width: 440px;
    margin-left: 55px;
    margin-top: 24px;
}